A:hover {
		color:green; TEXT-DECORATION: none;  
}
A:link:{	text-decoration: none;
}

table {
	border-collapse : collapse;
}
A {
	font-weight : bold ; text-align:center;
}

body{
	margin:0;
	padding:0;
	background:#aaa url(bgpattern2.png) center top repeat-x;
}

}
a:visited{
	text-decoration:none;
}

